
#csstab{
  position: fixed;
  top: 30%;
  right: 0px;
  height: 74px;
  width: 30px;
  overflow: hidden;
}
#csstab .box{
  position: relative;
  left: -21px;
  top: 21px;
  height: 20px;
  width: 60px;
  text-align: center;
  background-color: #333;
  border: 2px solid #a86;
  border-bottom-style: none;
  color: #851;
  padding: 5px;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#csstab .box:hover{
  color: #a72;
}
#csidebar{
    position: absolute;
    background-color: #4c4a41;
    z-index: 1000;
    overflow: hidden;
}
#csidebar.right {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 500px;
}
#csidebar.right #cedit {
  width: 494px;
}
#csidebar.bottom #cedit {

}
#csidebar.bottom {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
}
#csidebar.bottom #cedit {
  height: 235px;
  width: 100%;
}
.ui-resizable-w{
}
#csidebar{
  font-family: Helvetica, Arial, Sans-Serif;
}
#csidebar .stylelist{
    width: 484px;
    margin-left: 10px;
    margin-top: 10px;
}
#csidebar .save, #csidebar .close, #csidebar .dock{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  line-height: 14px;
  font-size: 12px;
  color: #851;
  background-color: #333;
  width: 50px;
  text-align: center;
  border: 1px solid #851;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
}

#csidebar.bottom #cedit {
  top: 40px;
}
#csidebar.bottom .save, #csidebar.bottom .close, #csidebar.bottom .dock {
  margin-top: 10px;
}
#csidebar .save:hover, #csidebar .close:hover, #csidebar .dock:hover{
  color: #a86;
  border-color: #a86;
}
#cedit{
  top: 65px;
  overflow: hidden;
}

.ace_gutter{
  width: 30px !important;
}
.ace_gutter-cell.ace_warning{
  background-image: none !important;
}
.ace_gutter-cell {
  padding-left: none !important;
}
/*#csidebar{
    position: absolute;
    background-color: #4c4a41;
    height: 100%;
    top: 0px;
    right: 0px;
    width: 500px;
    z-index: 1000;
    overflow: hidden;
}
#csidebar{
  position: absolute;
  background-color: #4c4a41;
  z-index: 1000;
  overflow: hidden;
}
.ui-resizable-w{
}
#csidebar{
  font-family: Helvetica, Arial, Sans-Serif;
}
#csidebar .stylelist{
    width: 80%;
    margin-left: 10%;
}
#csidebar .save, #csidebar .close{
  float: left;
  margin: 10px;
  font-size: 12px;
  color: #851;
  background-color: #333;
  width: 50px;
  text-align: center;
  border: 1px solid #851;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
}
#csidebar .save:hover, #csidebar .close:hover{
  color: #a86;
  border-color: #a86;
}
#cedit{
  width: 494px;
  top: 65px;
  overflow: hidden;
}

.ace_gutter{
  width: 30px !important;
}
.ace_gutter-cell.ace_warning{
  background-image: none !important;
}*/
